*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.header {
  background-color: #eeeff1;
  min-height: 700px;
  padding-top: 80px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-navbar {
  margin-bottom: 40px;
}

.header-navbar-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.25rem;
}

.header-navbar-link {
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  color: #000000;
}

.header-navbar-link:hover {
  color: deepskyblue;
  transition: 0.21s;
}

.header-navbar-link.active {
  font-weight: 500;
  color: #34547A;
}

.header-content-title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 56px;
  max-width: 540px;
  color: #000000;
  margin-top: 138px;
  margin-bottom: 50px;
}

.header-content-description {
  color: #727272;
  line-height: 1.75rem;
  max-width: 600px;
  margin-bottom: 58px;
}

.header-content-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 65px;
  line-height: 1.625rem;
  letter-spacing: 0.1rem;
  background-color: #34547A;
  color: white;
  padding: 1rem;
}

.header-content-link:hover {
  background-color: deepskyblue;
  transition: 0.21s;
}

.main {
  background-color: white;
}

.main-about {
  padding: 112px 0 100px 0;
}

.main-about-header {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
  max-width: 400px;
  margin: 0 auto 40px auto;
  padding: 0;
  text-align: center;
}

.main-about-description {
  max-width: 540px;
  color: #727272;
  line-height: 1.5rem;
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}

.main-numbers {
  min-height: 250px;
  background-color: #34547A;
  padding: 100px 0;
}

.main-numbers-wrap {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.main-numbers-item {
  display: flex;
  color: white;
}

.main-numbers-item-image {
  width: 50px;
  height: 50px;
}

.main-numbers-item-content {
  margin-left: 20px;
}

.main-numbers-item-header {
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 1.5rem;
  margin-bottom: 2px;
}

.main-numbers-item-description {
  line-height: 1.5rem;
}

.main-process {
  background-color: #eeeff1;
  padding: 100px 0;
}

.main-process-header {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
  max-width: 400px;
  margin: 0 auto 40px auto;
  padding: 0;
  text-align: center;
}

.main-process-description {
  max-width: 540px;
  color: #727272;
  line-height: 1.5rem;
  margin-bottom: 42px;
  text-align: center;
  margin: 0 auto 56px auto;
}

.main-process-video {
  display: flex;
  justify-content: center;
}

.video-frame {
  border: none;
}

.footer {
  min-height: 151px;
  background-color: #34547A;
  color: white;
  padding: 50px 0;
}

.footer-content {
  text-align: left;
}

.footer-content-name {
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 1.5rem;
  margin-bottom: 2px;
  margin-bottom: 10px;
}

.footer-content-copy {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}