* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body {
  background-color: #2C2D33;
}

/* Sticky header */

.header-section-sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 16px 0;
  background-color: #2C2D33;
}

/* Wrapper for Header */

.wrapper {
  display: block;
  float: none;
  margin: 0;
  padding-left: 48px;
  padding-right: 48px;
}

/* Header styles */

.header {
  min-height: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
}

/* Logo */

.logotype {
  flex-grow: 1;
}

.logo-image {
  width: 220px;
}

/* Navigation */

.navbar {
  flex-grow: 1;
  text-align: center;
}

.link-nav {
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 8px;
  color: white;
}

/* Social networks */

.social {
  flex-grow: 1;
}

.link-social {
  font-size: 2rem;
  color: #F4FEA4;
  margin-left: 8px;
}

.callme {
  flex-grow: 1;
}

.button-callme {
  text-decoration: none;
  background-color: #F4FEA4;
  color:#2C2D33;
  border-radius: 100px;
  cursor: pointer;
  height: 40px;
  padding: 16px 40px 16px 40px;
  text-transform: uppercase;
}

/* Hero section */

.hero-section {
  width: 100%;
  min-height: 720px;
  background-image: url(../images/hero-image.jpg);
  background-size: 100%;
  background-position: center;
  margin-bottom: 2rem;
}

/* Main styles */

.container-main {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.main {
  background-color: #2C2D33;
  min-height: 100px;
  flex-basis: 200px;
  flex-grow: 1;
  margin-right: 48px;
  margin-left: 48px;
}

/* Left side */

.left {
  min-height: 100px;
  flex-basis: 250px;
  order: -1;
  background-color: #1E232C;
  color: white;
  padding: 2rem;
}

/* Right side */

.right {
  min-height: 100px;
  flex-basis: 150px;
  background-color: #1E232C;
  color: white;
  padding: 2rem;
}

/* Footer */

.footer {
  background-color: #1E232C;
  min-height: 100px;
  margin-top: 1rem;
  color: white;
  padding: 2rem;
}

/* Card styles */

.container-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-item {
  background-color: #1E232C;
  /* padding: 16px; */
  flex-basis: 312px;
  flex-grow: 1;
}

.card-item-image {
  display: block;
  width: 100%;
  height: 200px;
}

.card-content {
  padding: 8px 16px 8px 16px;
}

.card-item-title {
  display: block;
  font-weight: 700;
  font-size: 1.4rem;
  color: #F1FCFF;
  padding: 16px 0px 16px 0px;
}

.card-item-description {
  display: block;
  color: #797F84;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.card-item-price {
  display: block;
  font-weight: 700;
  font-size: 1.4rem;
  color: #F1FCFF;
  padding: 16px 0px 16px 0px;
}

.card-button {
  padding: 8px 16px 16px 16px;
}

.card-item-button {
  padding: 8px 32px 8px 32px;
  border-style: none;
  background-color: #F4FEA4;
  color: #1E232C;
  font-size: 16px;
}

.advise {
  width: 100%;
  min-height: 120px;
  padding: 24px;
  background-color: #F4FEA4;
  background-image: url(../images/section1.png);
  text-align: left;
}


.advise-title {
  color: #F1FCFF;
}

.advise-button {
  color: white;
  text-decoration: none;
  border: 2px solid #9fbf50;
  border-radius: 100px;
  padding: 16px 40px 16px 40px;
  margin: 0 40px;
}